{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h1>Instructions sent</h1>
            <div class="alert success">
                <strong>We've emailed you instructions</strong> for setting your password.
            </div>
            <p>If you don't receive an email, please make sure you've entered
                the address you registered with.
            <p/>
        </div>
    </div>
{% endblock %}